
*.xml
*.pyc
*.iml
*.iml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/EspoCRM_Automation.iml
/venv
/.idea
/src/espocrm_api/__pycache__
/src/utils/__pycache__
/src/resources/authentications/__pycache__
/src/assertions/__pycache__
/test/__pycache__
/__pycache__
/.idea
.idea/misc.xml
/reportallure
